* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;

    .loader {
        position: relative;
        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 200px;
            .point {
                background-color: #0007;
                width: 3px;
                height: 15px;
                border-radius: 3px;
                position: absolute;
                transform: rotate(calc(var(--i) * 120deg)) translateY(-100px);
                animation: glow 0.8s linear infinite;
                animation-delay: calc(var(--i) * 0.008s);
            }
        }
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-size: 28px;
            font-weight: 700;
            color: #58a2ff;
            text-transform: uppercase;
            text-shadow: 0 0 10px #58a2ff;
            letter-spacing: 2px;
        }
    }
}
@keyframes glow {
    0%,
    100% {
        background-color: #0007;
        border: none;
        transform: rotate(0deg);
    }
    50% {
        background-color: #58a2ff;
        box-shadow: 0 0 10px #58a2ff;
        transform: rotate(360deg);
    }
    75% {
        transform: rotate(0deg);
    }
}
